/*
|--------------------------------------------------------------------------
| Main SCSS File
|--------------------------------------------------------------------------
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main sections */
.section{
  height:100vh;
  background:black;
  color:white;
}