/*
|--------------------------------------------------------------------------
| Main SCSS File
|--------------------------------------------------------------------------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sawarabi Mincho', sans-serif; }

/*
|--------------------------------------------------------------------------
| All
|--------------------------------------------------------------------------
*/
/* main sections */
.section {
  height: 100vh;
  background: black;
  color: white; }

.button {
  padding: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer; }

.button:focus {
  outline: none; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.margin {
  margin: 0 auto; }

.full-width {
  width: 100vw; }

.full-height {
  height: 100vh; }

/*
|--------------------------------------------------------------------------
| Title Screen SCSS
|--------------------------------------------------------------------------
*/
.title {
  flex-direction: column; }

.button-container-title {
  justify-content: space-evenly;
  width: 90vw; }

.button-title {
  font-size: 30px;
  background: none;
  color: white;
  border: 2px solid blue;
  width: 30%; }

/*
|--------------------------------------------------------------------------
| Select Screen SCSS
|--------------------------------------------------------------------------
*/
.select {
  background: blue; }

/*
|--------------------------------------------------------------------------
| Battle SCSS
|--------------------------------------------------------------------------
*/
.battle {
  background: red; }
