/*
|--------------------------------------------------------------------------
| Main SCSS File
|--------------------------------------------------------------------------
*/

// reset margin and padding for all elements, and set border-box box-sizing
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
|--------------------------------------------------------------------------
| All
|--------------------------------------------------------------------------
*/


/* main sections */
.section{
  height:100vh;
  background:black;
  color:white;
}

// universals
.button{
  padding:20px;
  border:none;
  cursor:pointer;
}

.button:focus{
  outline:none;
}

// utility
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin{
  margin: 0 auto;
}

.full-width{
  width:100vw;
}

.full-height{
  height:100vh;
}

// imports
@import "./Title/title.scss";
@import "./Select/select.scss";
@import "./Battle/battle.scss";